/* CSS Document */

@font-face {
  font-family: jinky;
  src: url(JINKY.ttf);
}

@font-face {
  font-family: gothic;
  src: url(CenturyGothicRegular.ttf);
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font: 14px gothic, Verdana, Arial, sans-serif;
  background-image: url(dualityBG.jpg);
  height: fit-content;
  min-height: -webkit-fill-available;
  background-attachment: fixed;
}

header {
  background: black;
  color: #fffff9;
  text-align: center;
  font-size: 1em;
  padding: .5em 0;
  width: 100%;
}

header a, footer a {
  color: mediumaquamarine;
}

header h1 {
  margin: -.25em 0;
  font-size: 4.5em;
  font-family: 'jinky';
}

menu {
  margin: 0;
  padding: 0;
  background: rgba(230, 245, 255, 0.9) url("logo.png") no-repeat 90% bottom;
  box-shadow: inset 0 -.5em 1.5em darkolivegreen;
  position: relative;
  border-bottom: solid 3px #942;
  background-size: auto 100%;
  z-index: 1;
}

menu ul {
  width: 80%;
  max-width: 840px;
  margin: 0 auto;
  padding: .5em 2em 1em;
  column-width: 13em;
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  column-gap: 1em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  box-sizing: border-box;
}

menu li {
  display: block;
  padding: .5em 0 0;
  margin: 0 0 -.5em 1.5em;
  white-space: nowrap;
}

menu li i {
  display: none;
}

.card-bullet, article b.play, #top_link {
  display: inline-block;
  width: 1.5em;
  height: 1.75em;
  border-radius: .2em;
  padding: .5em .15em .15em;
  text-align: center;
  font-size: .86em;
  margin: -.5em .25em 0 0;
  box-shadow: 1px 1px 3px;
  background-color: #fffff9 !important;
  overflow-x: hidden;
  vertical-align: top;
  line-height: 1.2em;
}

main {
  line-height: 1.3em;
  max-width: 840px;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 6em 4em #210;
  position: relative;
}

article {
  box-shadow: inset 0 .5em 2em #cb9;
  background-color: #fffff9;
  padding: 3em 4em 5em;
  position: relative;
}

article h1, article h2, article h3 {
  text-align: center;
  line-height: 1em;
  margin: 0.2em;
  padding: .1em;
  font-weight: normal;
}

article h1 {
  font-size: 1.5em;
  color: #040;
  margin: -.25em 0;
  font-size: 3.5em;
  font-family: 'jinky';
  cursor: pointer;
  white-space: nowrap;
}

.bonus {
  display: none;
}

.bonus.unlocked {
  display: block;
}

li.bonus.unlocked {
  display: inline-block;
}

/*
.bonus h1::after {
  content: '♥Bonus';
  font-size: .6em;
  color: darkred;
  font-weight: bold;
  position: relative;
  top: -.5em;
  left: .5em;
}*/

article .index, article .purchase {
  font-style: normal;
  position: absolute;
  right: 2em;
  top: 2em;
  color: #693;
  font-family: gothic, Verdana, Arial, sans-serif;
}

article .purchase {
  right: 4.5em;
  top: 10.5em;
  font-size: .86em;
}

article b.play {
  font-size: 2em;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  cursor: pointer;
  font-family: Verdana, Arial, sans-serif;
  display: block;
  margin: 0 auto;
  color: #040;
  z-index: 2;
  position: relative;
}

.progress {
  height: 1px;
  margin: 3px 0 4px;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  background-color: #693;
}

.progress hr {
  display: block;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  width: 0;
  background-color: darkred;
}

article.playing .progress {
  height: 8px;
  margin: 0;
}

article.sc.playing .progress {
  height: 1px;
  margin: 3px 0 4px;
}

article b.play:after {
  font-family: Verdana, Arial, sans-serif;
  content: "♠";
}

article.playing b.play {
  box-shadow: 1px 1px 3px;
  border-radius: .3em;
  transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  /* IE 9 */
  -webkit-transform: rotate(50deg);
  color: darkred;
  position: relative;
    top: 1em;
    font-size: 1.3em;
    margin: .7em auto;
}

article.playing b.play:after {
  content: "♦";
}

article.playing b.play.rotate:after {
  color: red;
}

img.card {
  display: inline block;
  width: 90%;
  max-width: 600px;
  height: auto;
  border: #ffe solid 10px;
  box-shadow: 3px 3px 6px;
  border-radius: 25px;
  transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
}

.playing h1, .playing a {
  color: darkred;
}

.playing b.play:hover, .playing a:hover {
  color: red;
}

.playing img {
  height: 95%;
  vertical-align: middle;
}

h2 {
  margin: 0;
  font-size: 1.1em;
  color: #942;
}

article h3 {
  font-size: .9em;
  color: #39c;
  font-style: italic;
}

a, menu li {
  text-decoration: none;
  color: #040;
  cursor: pointer;
}

a:hover, menu li:hover, menu li:hover a, article b.play:hover, #top_link:hover, article h1:hover {
  color: green;
}

article p {
  margin: 0;
  padding: .5em 0 0 .5em;
  border-bottom: solid 1px #edc;
  position: relative;
  line-height: 1.5em;
  min-height: .68em;
}

.song b, strong, .chord {
  font-style: italic;
  font-weight: normal;
  font-family: Andale Mono, monospace;
  position: relative;
  top: -.6em;
  vertical-align: top;
  margin: 0;
  margin-right: -2.15em;
  padding: 0;
  color: #39c;
  line-height: 1em;
  cursor: pointer;
  font-size: .86em;
}

.song b.lone, strong.lone, .chord.lone {
  margin-right: 10% !important;
}

.song b.hang, strong.hang, .chord.hang {
  margin-right: -1.2em !important;
}

.song {
  column-width: 20em;
  -moz-column-width: 20em;
  -webkit-column-width: 20em;
  column-gap: 1em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}

#top_link {
  color: #040;
  top: 0;
  position: fixed;
  right: 0;
  margin: .86em;
  z-index: 5;
  font-size: 1.5em;
}

#top_link:active {
  box-shadow: 1px 1px 1px;
  background-color: #ddddd9 !important;
}

#top_link:after {
  font-family: Verdana, Arial, sans-serif;
  content: "♠";
}

.card-bullet:after {
  font-family: Verdana, Arial, sans-serif;
  content: "♣";
}

menu li.playing, .playing .card-bullet {
  color: darkred;
}

.playing .card-bullet:after {
  font-family: Verdana, Arial, sans-serif;
  content: "♥";
}

article#1 {
  display: block !important;
}

/* for no-chords */

.no-chords h2 {
  margin-bottom: 1em;
}

.no-chords h3 {
  display: none;
}

.no-chords p {
  border: none;
}

.no-chords .song b, .no-chords strong, .no-chords .chord {
  display: none;
}

i, em {
  font-style: italic;
  font-weight: lighter;
}

footer {
  background: black;
  color: #cb9;
  text-align: center;
  width: 100%;
  padding: 0;
  position: relative;
}

footer.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
}

footer.fixed #credits {
  display: none;
}

footer p {
  padding: .5em;
}

#links {
  display: block;
  text-align: left;
}

#stores {
  position: absolute;
  right: 0;
  top: 0;
  margin: .5em;
}

#credits {
  display: block;
}

/* Style all font awesome icons */

.fa {
  height: 1em;
  padding: .35em;
  width: 1em;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  background-color: darkgray;
}

/* Add a hover effect if you want */

.fa:hover {
  opacity: 0.7;
  color: #eee;
}

.fa-choon {
  background-image: url(https://choon.co/static/favicon.png);
  background-color: white;
  background-size: 86%;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: center;
}

.fa-facebook {
  background: #3B5998;
}

.fa-twitter {
  background: #55ACEE;
}

.fa-instagram {
  background: #cd486b;
}

.fa-youtube {
  background: #cc181e;
}

.fa-bandcamp {
  background: #1da0c3;
}

.fa-soundcloud {
  background: #f70;
}

.fa-google-play {
  background: #4885ed;
}

.fa-spotify {
  background: #84bd00;
}

.fa-apple {
  background: #999999;
}

.fa-amazon {
  background: #ff9900;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 5.18em auto;
  padding: .5em;
  width: 80%;
  text-align: center;
  position: relative;
}

.modal-content p {
  margin: 2em;
}

#player {
  position: absolute;
  width: 100%;
  height: 110px;
  z-index: 1;
  overflow: hidden;
}

#player.hidden {
  z-index: 0;
  display: none;
}

/* The Close Button */

.close {
  color: #aaa;
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  margin: .5em;
  right: 0;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.rotate {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* small screens */

@media (max-width:600px) {
  main {
    width: 100%;
    box-shadow: .5em .5em 2em;
    margin-top: 6em;
  }
  header {
    background: black url("logo.png") no-repeat 90vw bottom;
    background-size: auto 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  header h1 {
    position: absolute;
    font-size: 2em;
    margin: -.25em .5em;
}
  menu {
    background: black;
    box-shadow: none;
    position: fixed;
    top: 2em;
    left: 0;
    z-index: 11;
    width: 100%;
  }
  menu ul {
    width: 100%;
    padding: .68em 0 0;
    text-align: center;
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
    font-size: 1.4em;
    white-space: nowrap;
  }
  menu li {
    display: inline;
    margin: -0.2em;
  }
  menu li a {
    display: none;
  }
  article, article.bonus.unlocked {
    display: none;
    padding: 3em 1em;
  }
  article.selected, article.bonus.unlocked.selected {
    display: block;
  }
  article.selected:not(.playing), article.bonus.unlocked.selected:not(.playing) {
    z-index: 2;
  }
  #top_link {
    display: none;
  }
  menu li.selected b {
    color: #040;
  }
  article:hover b.play {
    color: inherit;
  }
  menu li.selected b {
    margin-top: -1em;
  }
  #supportMsg {
    display: none;
  }
  article .purchase {
    right: 1em;
  }
}
