/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: bottom;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #333;
  line-height: 1.34em;
  color: #fff;
  text-align: center;
  overflow-x: hidden;
}

header,
footer {
  background-color: silver;
  padding: 0.5em;
}

header {
  text-shadow: 1px 1px 1px black;
}

footer {
  padding: 0.5em 0;
  color: black;
}

header h1,
footer h1 {
  font-size: 2em;
}

footer .credits {
  display: block;
  font-size: small;
  margin: 3em 0 0;
}

main {
  width: calc(100% - 1em);
  max-width: 35em;
  margin: 0.5em auto 2em;
}

a {
  color: #3c9;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}

h1 {
  font-family: fantasy;
  font-size: x-large;
  margin-top: 1.86em;
}

section {
  max-width: 45em;
  margin: 0 auto;
  text-shadow: none
}

article h1 {
  font-size: 1.34em;
  margin: 0.5em 0 0;
  background: rgba(255, 255, 255, 0.68);
  padding: 0.68em 0.68em 0.34em;
  color: black;
}

.answer {
  background-color: white;
  margin: 1px 0;
  padding: 0.68em;
  position: relative;
  color: black;
}

.answer.versus:after {
  content: "Vs.";
  position: absolute;
  left: calc(50% - 0.5em);
}
.answer p {
  min-width: 40%;
}
.answer p i{
  max-width: 66%;
  margin: 0 auto;
  line-height: 1em;}

.answer i {
  display: block;
  font-size: small;
}

.answer.versus>div {
  margin: 0 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.answer .credits {
  display: block;
  font-size: small;
  margin-top: -0.5em;
}

.answer input {
  display: block;
  width: 100%;
}

.answer .hint,
.answer .hint-text,
.answer.versus:after {
  font-size: small;
  color: #06c;
  bottom: 1.75em;
}

.answer .hint,
.answer .hint-text {
  position: absolute;
  pointer-events: none;
  margin: 0 1em;
  left: 0;
}

.answer .hint {
  left: auto;
  right: 0;
}

.answer.versus .hint,
.answer.versus .hint-text {
  display: none;
}

.answer .hint:after {
  content: "%";
}

#state {
  display: inline-block;
  background-color: white;
  margin: 0.5em;
  border-radius: 0.5em;
  box-shadow: 1px 1px 2px black;
  position: relative;
  width: fit-content;
  font-size: small;
  padding: 0.5em;
}

#psych{
  margin: 1em auto 0;
  border: solid 1px black;
  padding: 0.5em;
  width: fit-content;
  font-size: small;
}

footer ul {
  display: inline-block;
  margin: 0.5em;
}

footer li {
  text-align: left;
  padding: 0.5em;
  cursor: pointer;
  position: relative;
}

footer li.selected {
  border-radius: 0.5em;
  background-color: white;
  box-shadow: 1px 1px 2px black;
}

footer li span {
  width: 8em;
  display: inline-block;
}

footer li b {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 0.5em;
  box-shadow: 1px 1px 2px black;
  border-radius: 0.25em;
}

footer li i, #state>i {
  text-shadow: 1px 1px 1px black;
  font-family: monospace;
}

.stat {
  display: inline-block;
  margin: .25em;
  vertical-align: top;
}

.stat * {
  line-height: 1em;
}

.stat p {
  margin: .75em 0 0.25em;
}

.stat i {
  display: inline-block;
  min-width: 3em;
  font-family: monospace;
  text-align: right;
  margin-right: 0.25em;
}

#approx {
  position: absolute;
  display: inline-block;
  font-size: small;
  z-index: 10;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.25s;
  top: 0;
  left: 0;
  padding: 0 0.5em;
}

#state{
  padding-top: 1.5em;
}

#state.big{
  width: 25em;
}
#state.big #approx {
  max-width: 100%;
  top: auto;
  bottom: 8em;
  margin: 1em;
}
#state.big>i{
  font-size: x-large;
  font-weight: bold;
}

#explore-link{
  display: block;
  margin: 0.5em;
}

#cube {
  display: block;
  width: 100vw;
  overflow-x: hidden;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

#credits {
  margin-top: 4em;
  font-size: small;
}

body.sorter .complete {
  display: none;
}

#mbti {
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  letter-spacing: 0.1em;
  font-family: monospace;
  font-size: 1.68em;
  line-height: .34em;
}

#popup{
  font-size: small;
  padding: 0.25em 0.5em;
  border-radius: 1em;
  background-color: white;
  color: black;
  box-shadow: 1px 1px 1px black;
  min-width: 1em;
  min-height: 1em;
}