body {
  margin: 0;
  padding: 0;
  background-color: #021;
  font-size: 12px;
  font-family: sans-serif;
}

main {
  width: 800px;
  margin: 0 auto;
}

header,
footer {
  margin: 0.5rem;
  padding: 0.5rem 2rem;
  background-color: darkolivegreen;
  color: wheat;
}

footer {
  text-align: center;
}

h1 {
  font-family: serif;
  margin: 0.5rem 0 0;
}

p {
  margin: 0.25rem 0;
}

a {
  text-decoration: none;
  color: goldenrod;
  cursor: pointer;
}

i, b {
  font-style: normal;
  font-weight: 600;
  font-family: monospace;
  text-transform: uppercase;
}

b {
  font-weight: 900;
}

canvas {
  position: absolute;
}

#game {
  width: 800px;
  height: 500px;
  position: relative;
  background-color: powderblue;
}

#controls {
  margin: 2rem 2rem;
  padding: 1rem 1rem 0.5rem;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  color: green;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 2px black;
  overflow: hidden;
}

#controls header {
  margin: -1rem -1rem 0;
  font-size: 1.1rem;
  text-align: center;
  font-family: serif;
  font-weight: bold;
}

#controls p {
  margin: 0.25rem 0 0;
}

#controls p::before {
  content: '‣';
  margin-right: 0.5rem;
}